@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-whitish: #f2f2f2;
  --primary-greenish: #bcd97e;
  --primary-green: #84bf04;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-orange: orange;
  --primary-red: red;
  --primary-hover-red: pink;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* *******************NAVBAR********************************** */
nav {
  z-index: 2;
}

.logo {
  width: 6rem;
}
/* ---------menu links-------------- */
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-whitish) !important ;
  border-bottom: 0.1875rem solid var(--primary-dark);
}
.navbar-brand {
  max-width: 17.75rem;
  padding: 0 !important ;
  height: 2.5rem !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-greenish);
}
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-greenish);
}
/* ***************HEADER WRAPPER********************** */
.header-wrapper {
  position: relative;
  background: url(background3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-whitish);
  /* text-transform: uppercase; */
}

/* *******typed text******* */
.typed-text {
  font-size: 2.2rem;
  color: var(--primary-whitish);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/* ************HEADER MAIN OFFER BUTTON**********8 */
.btn-main-offer {
  text-transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin-top: 2rem;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-green) !important;
  transition: 0.2s ease-in-out;
}

/* ***********PARTICLES******** */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}
/* *****************ABOUT ME***************** */
.block-item {
  /* background-image: url(./assets/keyboard.jpg); */
  background-color: var(--primary-whitish);

  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0;
}
.block-item div {
  margin-top: 3.9rem;
  margin-bottom: 3.9rem;
  max-width: 50rem;
  height: 30rem;
}
/* .block-item.background-image {
  height: 60%;
  width: 60%;
} */

.block-item-1 {
  height: 20rem;

  border-radius: 1rem;

  margin: 0.5rem;
  border: 0.5rem;
  padding: 1rem;
  width: 30rem;
  background-color: var(--primary-whitish);

  box-sizing: border-box;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.block-item-1 > img {
  height: 200px;
  width: 200px;
}
.block-item-2 {
  height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
  /* overflow: hidden; */

  border-radius: 1rem;

  margin: 0.5rem;
  border: 0.5rem;
  padding: 1rem;
  width: 30rem;
  background-color: var(--primary-whitish);

  box-sizing: border-box;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.block-item-2 h3 {
  text-align: center;
}
.block-item-2 p {
  text-align: justify;
  font-size: medium;
}
/* ****************SPLIDE SLIDER******************** */
.splide__slide.is-active.is-visible {
}
.splide__slide > img {
  height: 50%;
  width: 50%;
}

.splide__slide.is-active > img {
  /* box-sizing: border-box; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);
  height: auto;
  width: auto;
}

.splide__slide.is-active.is-is-visible > img {
}
/* **************MY SERVICES************** */
.line {
  border-left: 2px solid grey;
  height: 31rem;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 89rem;
}
.main > h1 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  /* height: 50rem; */
}
.main > hr {
  width: 150px;
  border: solid 1px grey;
}
.service-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: auto;
}
.service-section > p {
  margin: auto;
  border: 0;
  padding: 5rem;
}
.service-section-1 {
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);

  margin: 0.5rem;
  margin-right: 32rem;
  border: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
}
.service-section-2 {
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);

  margin: 0.5rem;
  margin-left: 32rem;
  border: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
}
.service-section-3 {
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);

  margin: 0.5rem;
  margin-right: 32rem;
  border: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
}
.service-section-4 {
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);

  margin: 0.5rem;
  margin-left: 32rem;
  border: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
}
